@charset "UTF-8";
@font-face {
  font-family: "carto";
  src:url("fonts/carto.eot");
  src:url("fonts/carto.eot?#iefix") format("embedded-opentype"),
    url("fonts/carto.woff") format("woff"),
    url("fonts/carto.ttf") format("truetype"),
    url("fonts/carto.svg#carto") format("svg");
  font-weight: normal;
  font-style: normal;

}
.marker-wrapper {
  position: absolute;
  z-index: -1;
  left: -5px;
  top: -1px;
  height: 40px;
  width: 40px;
  bottom: 0px;
  right: -20px;
  font-size: 40px;
  line-height: 40px;
  opacity: .99; }

[data-icon]:before {
  font-family: "carto" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "carto" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-marker:before {
  content: "\41";
}
.surround {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  width:0;
  visibility: hidden;
}
.surround[speed="1"]{
  -webkit-transition: 0.16s;
  -moz-transition: 0.16s;
  -o-transition: 0.16s;
  transition: 0.16s;
}
.surround[speed="2"]{
  -webkit-transition: 0.32s;
  -moz-transition: 0.32s;
  -o-transition: 0.32s;
  transition: 0.32s;
}
.surround[speed="3"]{
  -webkit-transition: 0.48s;
  -moz-transition: 0.48s;
  -o-transition: 0.48s;
  transition: 0.48s;
}
.surround[speed="4"]{
  -webkit-transition: 0.64s;
  -moz-transition: 0.64s;
  -o-transition: 0.64s;
  transition: 0.64s;
}
.surround[speed="5"]{
  -webkit-transition: 0.80s;
  -moz-transition: 0.80s;
  -o-transition: 0.80s;
  transition: 0.80s;
}
.surround[speed="6"]{
  -webkit-transition: 0.96s;
  -moz-transition: 0.96s;
  -o-transition: 0.96s;
  transition: 0.96s;
}
[class*="surround"].show,
[class^="surround"].show {
  opacity: 1;
  visibility: visible;
}
.my-marker {
  background-color: #DADAD9;
  border: 3px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  text-align: center;
}
.my-marker i {
  margin-top: 10px;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 11px;
}
.my-marker .fa-number:before {
  content: attr(number);
}
