.test {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  width:0;
  visibility: hidden;
}
.test.show {
  opacity: 1;
  visibility: visible;
  width:30vh;
  z-index: 1;
}
